<%- include("includes/head.ejs") %>
<body>
    <h1>This is the home page 1+2</h1>

    <h3> <%= 1+2 %> </h3>
    <h3> <%= ["hello", "hi", "namaste", "bonjour"][2] %> </h3> 
    <h3> <%= "riya vachhani".toUpperCase() %> </h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non porro dolores adipisci voluptates ab sed eligendi dolorem! Placeat maiores corrupti nam nulla ab odit rerum eos, delectus fugiat asperiores possimus.</p>
    <button>click me!</button>
</body>
</html>
