div {
    height: 200px;
    width: 400px;
    border: 2px solid purple;
    background-color: hotpink;
    text-align: center;
    padding-top: 50px;
    animation-name: FirstAnimation;
    animation-duration: 4s;
    animation-timing-function: ease-in;
    animation-delay: 2s;
    animation-iteration-count: 5;
    animation-direction: alternate;

    /* animation: FirstAnimation 4s ease-in 2s 5 alternate; */
}

@keyframes FirstAnimation {
    0% {
        font-size: 20px;
        background-color: greenyellow;
    }
    50% {
        font-size: 40px;
        background-color: rgb(13, 185, 128);
        border-radius: 50%;
        border: 3px dotted black;
    }
    100% {
        font-size: 60px;
        background-color: mediumpurple;
    }

}