<%- include("includes/head.ejs") %>

<body>
    <h1>No Such Account Found</h1>
    <p>Sorry, we couldn't find the Instagram account you were looking for.</p>

    <%-include("includes/footer.ejs") %>
</body>
</html>