.Ticket {
    border: 5px solid rgb(209, 55, 81);
    border-radius: 14px;
    width: 200px;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}

p{
    font-size: 20px;
    font-weight: bold;
    justify-content: left;
    display: flex;
}